<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
        </style>
    </head>

    <body>
        <h1><span th:text="${alue.otsikko}">otsikko</span></h1>

        <table>
            <thead>
                <tr>
                    <th>Otsikko</th>
                    <th>Kirjoittaja</th>
                    <th>Viestien määrä</th>
                    <th>Uusin viesti</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="avaus: ${alue.avaukset}">
                    <td><a th:href="${'/ketju/' + avaus.id}"><span th:text="${avaus.otsikko}">avauksen otsikko</span></a></td>
                    <td th:text="${avaus.kirjoittaja}">avauksen kirjoittaja</td>
                    <td th:text="${avaus.koko}">viestien lkm</td>
                    <td th:text="${avaus.viimeisin}">pvm</td>
                </tr>
            </tbody>
        </table>

        <p></p>
        <p><b>Lisää viesti</b></p>
        <form method="POST" th:action="${'/alue/' + alue.id}">
            Kirjoittaja:<br/>
            <input type="text" name="kirjoittaja"/><br/>
            Otsikko:<br/>
            <input type="text" name="otsikko"/><br/>
            Viesti:<br/>
            <textarea rows="4" cols="50" name="sisalto"></textarea> <br/>
            <input type="submit" value="Lähetä"/>
        </form>
    </body>
</html>